{% extends 'base.html.twig' %}
{% block body %}

{# <a href={{path('contact_ajouter', {id : contact.id})}}>Ajouter un contact</a>

<a href={{path('contact_editer', {id : contact.id})}}>Contacts</a>

<a href={{path('main2')}}>Accueil2</a> #}
{{form(formContact)}}
{% endblock %}